@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><strong>Student Course Registration System</strong> </h1>
    <h2 class="display-4">at Bulldog High School</h2>
    
</div>
