@model BullDoghs.Models.tbCourseSection

@{
    ViewData["Title"] = "Create";
}

<h1>Create A New Class Session</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TeacherID_FK" class="control-label">Teacher's ID</label>
                <select asp-for="TeacherID_FK" class="form-control" asp-items="ViewBag.TeacherID_FK"></select>
            </div>

            <div class="form-group">
                <label asp-for="CourseTitle_FK" class="control-label">Course</label>
                <select asp-for="CourseTitle_FK" class="form-control" asp-items="ViewBag.CourseTitle_FK"></select>
            </div>


             <div class="form-group">
                <label asp-for="ClassRoom" class="control-label">Classroom</label>
                <input asp-for="ClassRoom" class="form-control" />
                <span asp-validation-for="ClassRoom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Course_day" class="control-label">Class day</label>
                <input asp-for="Course_day" class="form-control" />
                <span asp-validation-for="Course_day" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Course_time" class="control-label">Class time</label>
                <input asp-for="Course_time" class="form-control" />
                <span asp-validation-for="Course_time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AttendentNumber" class="control-label">Student number</label>
                <input asp-for="AttendentNumber" class="form-control" max="25"/>
                <span asp-validation-for="AttendentNumber" class="text-danger"></span>
            </div>
                          
                        
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
